

.container{

    .stik{
        position: fixed;
        top: 0;
        width: 86%;
        margin: auto;
        background: #059DC0;
        z-index: 999;
    
    }

}




.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 35px;
    color: #fff;
}

.frm{
    max-width: 500px;
    margin: auto;
    background: #059DC0;
    

    
}
#top{
    background: #04ECF0;
}
#contact{
    background: #04D4F0;
    
}
#bottom{
    background: #059DC0;
    color: #fff;
    .social{
        list-style: none;
        li{
            display: inline;
            padding-left: 10px;
        }
    }
}

.d-block{
    height: 700px;
}


@media (max-width: 480px) {

    body{
        #top
    {
      
        .row{
           .col-lg-4{
            float: right;
           }
        }
    }

    .navbar-toggler-icon{
        position: absolute;
        left: 90%;
        bottom: 80%;
    }
    
    .send{
        position: absolute;
        z-index: 99;
        width: 50px;
        font-size: 5px;
        left: 85%;
    }
    
    
}


}  

@media (max-width:786px) and (min-width:480px) {

    .navbar-toggler-icon{
        position: absolute;
        left: 85%;
        bottom: 85%;
    }
    
    .send{
        position: absolute;
        z-index: 99;
        width: 50px;
        font-size: 5px;
        left: 90%;
        top: 5%;
    }
    
}
    