

.container{

    .stik{
        position: fixed;
        top: 0;
        width: 86%;
        margin: auto;
        background: #059DC0;
        z-index: 999;
    
    }

}




.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 35px;
    color: #fff;
}

.frm{
    max-width: 500px;
    margin: auto;
    background: #059DC0;
    

    
}
#top{
    background: #04ECF0;
}
#contact{
    background: #04D4F0;
    
}
#bottom{
    background: #059DC0;
    color: #fff;
    .social{
        list-style: none;
        li{
            display: inline;
            padding-left: 10px;
        }
    }
}

.d-block{
    height: 700px;
}


@media (max-width: 480px) {

    body{
        #top
    {
      
        .row{
           .col-lg-4{
            float: right;
           }
        }
    }

    .navbar-toggler-icon{
        position: absolute;
        left: 90%;
        bottom: 100%;
    }
    
    .send{
        // position: absolute;
        // z-index: 99;
        // width: 50px;
        // font-size: 5px;
        // left: 85%;
        display: none;
    }

    .carousel-item{
        img{
            width: 100%;
            height: 400px;
        }
    }
    #bottom{
        .row{
            .col-lg-4{
                text-align: right;
            }
        }
    }
    
    .last{
        font-size: 10px;
    }
    
}


}  

@media (max-width:786px) and (min-width:480px) {

    .carousel-item{
        img{
            width: 100%;
            height: 500px;
        }
    }
    .send{display: none;}

  


    .navbar-toggler-icon{
        position: absolute;
        left: 95%;
        bottom: 95%;
    }
    
    .send{
        position: absolute;
        z-index: 99;
        width: 50px;
        font-size: 5px;
        left: 90%;
        top: 5%;
    }
  .last{
    font-size: 10px;
  }

}

@media (max-width:1024px) and (min-width:768px)
{
    .send{
        width: 100px;
        font-size: 15px;
        margin: 5px 0;
      
    }
    .last{
        font-size: 10px;
    }
}
    